@import 'vars';
@import 'settings';
@import 'foundation-sites/scss/foundation';
@include foundation-everything;


@import 'navigation';


body {
  color:$fg;
  background: $bg;
  font-family: 'Share', cursive;

  background: url(/images/konferense-bg.png) no-repeat center center, linear-gradient(to left,  #fb0097 0%,#05b6c3 100%);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fugaz One', cursive;
}

@keyframes playing {
  0% {
    color: $buttonbg;
  }
  50% {
    color: #fb0097;
  }
  100% {
    color: $buttonbg;
  }
}
.musicplayer {
  cursor: pointer;
}

.musicplayer.playing {
  animation: playing 1.5s infinite;
}

#hero-logo {
  height: 100vh;
}

#hero-logo .konferense-logo {
  background: url(/images/konferense-logo.png) no-repeat center center;
  height: 75vh;
  background-size: contain;
  max-width: 1300px;
  margin: 0 auto;
}


#hero-logo .tagline {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.4);
  padding: 20px;
}

@keyframes pulse {
  0% {
    background-color: $buttonbg;
    box-shadow: 0px 0px 10px 5px darken($buttonbg, 30%);
  }
  50% {
    background-color: lighten($buttonbg, 35%);
    box-shadow: 0px 0px 15px 7px darken($buttonbg, 10%);
  }
  100% {
    background-color: $buttonbg;
    box-shadow: 0px 0px 10px 5px darken($buttonbg, 30%);
  }
}

#hero-logo a {
  background-color: $buttonbg;
  color: #000;
  animation: pulse 2s infinite;
  font-size: 2rem;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 3px;
}

.hero {
  text-align:center;
  h1{
    font-size: 5em;
    small{
      margin-top:0.5em;
    }
  }
  .button{
    font-size: 1.5em;
    margin:1em;
  }
}
.hero__footer{
   margin-top:3em;
}
//sections
.section{
  padding: 5em 1em;
}
.section{
  h1, h2, h3{
    text-align: center;
    small{
      display:block;
      font-size: 0.5em;
    }
  }
}

.container__head {
  text-align: center;
  font-size: 4rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6), 2px 0px 2px #fb0097, -2px 0px 2px #05b6c3;
  margin-top: 40px;
}

table, table thead, table tbody {
  background: transparent;
  border: 0;
  color: white;
  border-collapse: separate;
  border-spacing: 0 10px;
}

table a {
  color: white;
  text-decoration: underline;
}

table a:hover {
  color: $buttonbg;
}

table thead {
  background: rgba(0,0,0,0.45);
}

table td {
  font-size: 1.2rem;
}

table tr, table tbody tr:nth-child(even) {
  background: rgba(0,0,0,0.2);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

.session{
}
.session__title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.abstract__body-full{
  display:none;

  &.abstract__body-toggled{
    display:block;
  }
}
.abstract__body-tldr{
  display:block;
  &.abstract__body-toggled{
    display:none;
  }
}
.abstract__toggler{
   text-align:center;
   font-size:1.5em;
}

.speaker {
  text-align: center;
  margin-bottom: 20px;
}

.speaker__bio{
  display:none;
}
.speaker__bio-show{
  display:block;
}

.speaker__head {
  border-radius: 50%;
  height: 150px;
}

.lightning-speaker {
  display: flex;
}
.lightning-speaker__head {
  border-radius: 50%;
  height: 100px;
  margin: 0 20px 20px 0;
}
.lightning-session__title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.lightning-session__abstract {
  display: none;
  &-show {
    display: block;
  }
}

#the-konferense{
  position:relative;

  @include breakpoint(small only) {
    padding:5em 0;
    h1{
       font-size:3em;
    }
    h2{
      font-size: 1.2em;
    }
  }
}

#agenda{

}
.agenda__large{
  display:block;
  @include breakpoint(small only) {
    display: none;
  }
  table{
    margin:0
  }

}

.agenda__small{
  display:none;
  @include breakpoint(small only) {
    display: block;
  }
}
.agenda__slot{
   vertical-align:top;
   white-space:nowrap;
}
td{
   vertical-align:top;
}
.agenda__track{
   width:33%
}

#venue > div{
  background: url($venue);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1100px;
  background-position: right top;
}
.venue__map{
  float:right;
  @include breakpoint(small only) {
    float: none;
  }
}
.venue__address{
  padding: 3em;
  text-align: right;
  h2, h3, h4 {
    background: rgba(0,0,0,0.5);
    display:inline-block;
    padding: 0.2em;
  }
}

ul.tabs li.tabs-title {
  background: rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  border-radius: 2px;
  border: rgba(0, 0, 0, 0.5) 2px solid;
  a {
    color: #000;
  }
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  background: $menuitembg;
}

.tabs-panel{
   padding:0;
}
.tabs-content,.tabs{
  background: transparent;
  border:none;
}

#speakers{
  background: $fg;
  color:$bg;
  position:relative;
}

ul.tabs {
    text-align: center;
    li.tabs-title {
        float: none;
        display: inline-block;
        &>a{
           font-size:1em;
        }
    }
}

#why{
  /* background: url('/images/astbg.png') no-repeat; */
  background-size: 100% 100%;

  p {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
  }
}
.why__steps{
  h1{
    padding:0;
    margin:0;
    font-size:10em;
  }
}


#how{
  color:white;
}
.how__item{
  text-align:center;
  img{
    height:150px;
    width:150px;
    padding:2em;
  }
  p{
    text-align:left;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
  }
}


#footer{
   background:#000;
   padding:3em;
   text-align:center;
   img{
     margin-top:0;
   }
}


.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.2rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.team-member {
  text-align: center;
  margin-bottom: 30px;
  flex: 0 1 350px;

  a {
    color: white;
    text-decoration: underline;
  }

  a:hover {
    color: $buttonbg;
  }
}

.team-member__head {
  border-radius: 50%;
  height: 100px;
}
.team-member__bio {
  display: none;
  text-align: left;
  &-show {
    display: block;
  }
}


.flex-video {
  padding-bottom: 56%;
}