<div id="hero-logo">
    <div class="konferense-logo"></div>
    <div class="tagline">
        <h3>8 Sep 2016 | 8:00am until 6:00pm</h3>
        <a href="http://goo.gl/forms/aVgo0TyQJDBmuM4E2" target="_blank">Sign up now!</a>
    </div>
</div>

