<div id="hero-logo">
    <div class="konferense-logo"></div>
    <div class="tagline">
        <h3>8 Sep 2016 | 8:00am until 6:00pm</h3>
        <a href="http://goo.gl/forms/aVgo0TyQJDBmuM4E2" target="_blank">Sign up now!</a><br><br>
        <a href="https://play.google.com/store/apps/details?id=com.sofort.konferense">our Android App</a>
        <a href="https://itunes.apple.com/us/app/konferen.se/id1141322904?l=de&ls=1&mt=8">our iOS App</a>
    </div>
</div>

