
<iframe class="venue__map" style="height:400px;width:400px; float:right"
    allowfullscreen="allowfullscreen" frameborder="0" height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.9158832524156!2d18.051390616072574!3d59.334358181660605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTnCsDIwJzAzLjciTiAxOMKwMDMnMTIuOSJF!5e0!3m2!1sen!2s!4v1464178133464" style="border:0" width="100%"></iframe>
<div class="row" style="">
  <div class="column small-12 large-6 venue__address">
       <h2>Clarion Sign</h2>
       <br/>
       <h3>Östra Järnvägsgatan 35</h3>
       <h3>101 26 Stockholm</h3>
       <h3>+46 8 676 98 00</h3>
  </div>
</div>
