<div class="row section">
  <h1 class="container__head">Highlights of 2015</h1>
  <div class="column small-12 large-12">
    <div class="flex-video">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/kR014z3yM94" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
