<h1 class="container__head">Venue:</h1>
<div class="row" style="">
  <div class="column small-12 large-12 venue__address">
       <h2>Clarion Hotel Sign</h2>
       <br/>
       <h3>Östra Järnvägsgatan 35</h3>
       <br/>
       <h3>101 26 Stockholm</h3>
       <br/>
       <h3>+46 8 676 98 00</h3>
  </div>
</div>
